.header.question-header {
    font-size: 3.6em;
    max-width: 80%;
    white-space: pre-wrap;
}

.face.not-hq {
    max-height: 350px;
}

.container.thank-you {
    background: url('/public/thankyou.png') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.container.question {
    background: url('/public/question.png') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.sub {
    color: rgba(255, 255, 255, 0.75);
}

.face-text {
    color: rgba(255, 255, 255, 0.9);
}

.event-info {
    color: rgba(255, 255, 255, 0.75);
}

.container.intro-taco {
    background: url('/public/taco-intro.png') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.container.intro-taco * {
    display: none;
}

.container.intro-taco .event-info {
    display: block;
}

.container.question-taco {
    background: url('/public/taco-question.png') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.container.question-taco * {
    display: none;
}

.container.question-taco .event-info {
    display: block;
}

.container.thank-you-taco {
    background: url('/public/taco-thankyou.png') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.container.thank-you-taco * {
    display: none;
}

.container.thank-you-taco .event-info {
    display: block;
}